 <% @event.event_items.each do |ei| %>
<div class="item">
  <div class="single_item_details">
    <p class="item_name"><%= ei.item.name %></p>
    <p class="suggestion"><%= ei.item.suggestion %></p>
  </div>
  <div class="event_item_details">
    <p>Amount Needed: <%= ei.quantity_still_needed %></p>
    <p>Description: <%= ei.description %></p>
  </div>
  <% @assigned_items = AssignedItem.where("event_item_id =?", ei.id) %>
  <div class="assigned_items">
    <% if ei.needed? %>
      <%= form_for @assigned_item do |ai| %>
        <%= ai.text_field :guest_name, :class => 'field', :placeholder => "Guest Name" %>
        <%= ai.text_field :quantity_provided, :class => 'field', :placeholder => 'How Much?', :in => 1..ei.quantity_needed%>
        <%= ai.text_field :guest_email, :class => 'field', :placeholder => 'Email'%>
        <%= ai.hidden_field :event_item_id, {:value => "#{ei.id}"} %>
        <%= ai.submit :value => "Bring Item" %>
      <% end %>
    <% end %>
     <%= render 'items/assigned_items_show' %>
  </div>
</div>
<% end %>
