<div class='row-fluid'>
  <% @event.event_items.each do |ei| %>
  <% if ei.needed? %>
  <div class='span3'>
    <%= form_for @assigned_item, :html => {:class => 'form-horizontal'}  do |ai| %>

    <h5><%= ei.item.name %></h5>

    <%= ei.item.suggestion %>
    <h5>Amount Needed: <%= ei.quantity_still_needed %></h5>
    <h5>Description: <%= ei.description %></h5>

    <div class="control-group">
      <div class="controls">
        <%= ai.text_field :guest_name, :class => 'field', :placeholder => "Guest Name" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= ai.number_field :quantity_provided, :class => 'field', :placeholder => 'How Much?', :in => 1..ei.quantity_still_needed%>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= ai.text_field :guest_email, :class => 'field', :placeholder => 'Email'%>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= ai.hidden_field :event_item_id, {:value => "#{ei.id}"} %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= ai.submit :value => "Bring Item" %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

</div>

