<p id="notice"><%= notice %></p>

<p>
  <b>Suggestion:</b>
  <%= @item.suggestion %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Event:</b>
  <%= @item.event_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
