<div class="container">
	<!-- <div class='hero-unit'>

		<div class="welcome"><h1>Welcome to PartyGopher!</h1></div><br><br><br><br><br><br>
		<div class="greeting"><h3>Organize.. Invite.. Enjoy!</h3></div> -->
	<!-- </div> -->
<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item">
        	<%= image_tag 'black_pants.png' %>
          
          <div class="container">
            <div class="carousel-caption">
              <h1>Organize.</h1>
              <p class="lead">Sign up with PartyGopher start planning.  It's that simple.</p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item active">
          <%= image_tag 'hotdog.png' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'potluck.png' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
	<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->


	<% unless current_user %>

	<div class="row">
		<div class="span6">
			<h4>Sign up and start</h4>
			<h4>planning your potluck!</h4>
			<%= render 'layouts/session_form' %>

			<div class="signin_button">
				<button id="new_user" class="btn btn-success"> Sign Up </button>
			</div><br>
			<div class="fb_button"><%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: :"btn btn-primary" %>
			</div>
		</div>

		<div class="span6">
			<h4>Login to check on your</h4>
			<h4>event, or add more to it!</h4>
			<%= render 'layouts/session_form_login' %>
			<button id="login" class="btn btn-success"> Log In </button>
		</div>

		<% end %>

		<% if current_user %>
		<div class="span12">
			<h4> Checkout your events!</h4>
			<% else %>
			<div class="span4">


				<ul>

				</ul>
			</div>
			<% end %>  

		</div>
