
<div class="hero-unit">
	<div class='container'>
		<div class="row profile_windows">
			<div class="span8">
				<div class="welcome_container">
					<div class="errors">
					  <%flash.each do |name,msg| %>
	          <div class="alert alert-<%= name == :notice %>">
		        <p id="notice"><%= notice %></p>
		        <%=msg%>
	          </div>
	          <%end%>
	        </div>

					<div class="welcome_info">
						<h1> Welcome, <%= @user.name.titleize %>! </h1>
							<h3> 
								Account Details:
							</h3>
							<h4>
								Name:<%= @user.name.titleize %>
							</h4>
							<h4>
								Email:<%= @user.email %>
							</h4><br><br>
	
	
  </div>
</div>



	<%= button_to 'Edit', edit_user_path(@user), class: "btn btn-warning" %>
	<%= button_to "Create an Event!", new_event_path, :method => "get", class: "btn btn-warning" %>


	<div id="created_events">
		<h4> 
			Upcoming Events: 
		</h4>
		<ul>
			<% @user.events do |event| %>
			<% if event.upcoming? %>
			<li><%= link_to upcoming.name, event_path(event) %> </li>
			<%end%>
			<%end%>
		</ul>
		<h4> Past Events: </h4>
		<ul>
			<% @user.events do |event| %>
			<% if event.past? %>
			<li><%= link_to past.name, event_path(past) %></li>
			<% end %>
			<%end%>

		</ul><br>
	</div>



