  <h2> What are the details of your event? </h2><br>
  <%= form_for(@event) do |e| %>
  <div class="span6">
    <%= e.text_field :name, :class => "name", :placeholder => "Title"%>
    <%= e.text_field :location, :class => "location", :placeholder => "Location"%>
    <%= e.date_select :date, :class => "date", :placeholder => "Date"%>
    <%= e.text_area :description, :class => "description", :placeholder => "Description"%>
  </div>

  <div class="span5">
    <ul class='event_items'>
      <div class='form-wrap'>
        <%= link_to_add_fields "Add Item", e, :event_items %>
        <%= e.submit 'Update!', :class => 'event_done btn btn-success' %><br><br>
      </div>
        <%= e.fields_for :event_items do |ei| %>    
        <%= render 'event_items/create_event_items_form', f: ei %>
        <% end %>
      
      
    </ul>
  </div>
  <% end %>