<%= form_for guest, :remote => true do |g| %> 
<table class="table table-striped">
  <caption>...</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Suggestions</th>
      <th>Quant Needed</th>
      <th>Item Description</th>
      <th>Bring some</th>
    </tr>
  </thead>
  <tbody>
<% @event.event_items.each do |ei| %>
  <% if ei.quantity_still_needed > 0 %>
      <tr>
        <td> <%= ei.item.name %> </td>
        <td> <%= ei.item.suggestion %> </td>
        <td> <%= ei.quantity_still_needed %> </td>
        <td> <%= ei.description %> </td>
        <td>
          <%= g.fields_for :assigned_items do |ai| %>
            <%= ai.select :quantity_provided, 0..ei.quantity_still_needed, {}, :class => "#{ei.item.name}" %>
            <%= ai.hidden_field :event_item_id, :value => ei.id %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
<% end %>

</table>
<div "bringin_items">
<%= g.text_field :name, :placeholder =>"Your Name", :required => true %>
<div class="input-append">
<%= g.text_field :email, :placeholder => "Your Email", :required => true %>
  <!-- <input class="span2" id="appendedInputButton" type="text"> -->
  <%= g.submit "Bring Items", :class=>"btn" %>
</div>
</div>
<% end %>

<%= render 'assigned_items' %>
