<%= form_for guest, :remote => true do |g| %> 

  <li class="event_item_row">
    <div class="name">NAME</div> | 
    <div class="suggestion">Suggestions</div> | 
    <div class="quantity_needed">Quant Needed</div> | 
    <div class"quantity_needed">Item Description</div> | 
    <div class="quantity_needed">Bring some</div>
  </li>
  
  <% @event.event_items.each do |ei| %>
    <li class="event_item_row">
      <div class="name"> <%= ei.item.name %> </div>
      <div class="suggestion"> <%= ei.item.suggestion %> </div>
      <div class="quantity_needed"> <%= ei.quantity_still_needed %> </div>    
      <div class="description"> <%= ei.description %> </div>

      <div class="quantity_needed">
        <%= g.fields_for :assigned_items do |ai| %>
          <%= ai.select :quantity_provided, options_for_select(0..ei.quantity_still_needed) %>
          <%= ai.hidden_field :event_item_id, :value => ei.id %>
        <% end %>
      </div>
    </li>
  <% end %>

  <%= g.text_field :name, :placeholder =>"Your Name", :required => true %>
  <%= g.text_field :email, :placeholder => "Your Email", :required => true %>
  <%= g.submit %>
<% end %>
