  <%= form_for @user, :html => {:class => 'form-horizontal'}  do |f| %>
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <%= f.text_field :name, :id => "inputName", nil, :required => true, :placeholder => :name %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <%= f.text_field :email, :id => "inputEmail", nil, :required => true, :placeholder => :email %>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <%= f.password_field :password, nil,:id => "inputPassword", :required => true, :placeholder => :password %>
    </div>
  </div>

  <%= f.submit 'Sign Up', :class => "btn"%>    
  <%end%>
