<p id="notice"><%= notice %></p>

<h4> Welcome to PotLucky, <%= @user.name %> </h4>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= button_to "Create an Event!", new_event_path, :method => "get" %>

<div id="created_events">

		<h4> Upcoming Events: </h4>
	  <ul>
    <% @upcoming_events.each do |upcoming| %>
    <li><%= link_to upcoming.name, event_path(upcoming) %> </li>
    <% end %>
	  </ul><br>
	  <h4> Past Events: </h4>
	  <ul>
	  	<% @past_events.each do |past| %>
	  	<li><%= link_to past.name, event_path(past) %></li>
	  	<% end %>
 
</div>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to "Logout", session_path, :method => :delete, data: { confirm: "Are you sure?" } %>
