<div>
<%= render 'public_link' %>
<%= render 'event_details' %>

  </div>
  <div class="added_items">
    <% @event.items.each do |i| %>
      <div class="events_items">
        <div class="name"><%= i.name %></div>
        <div class="suggestion"><%= i.suggestion %></div>
        <div class="quantity_needed"><%= i.quantity_needed %></div>
        <div class="quantity_needed"><%= i.quantity_provided %></div>
      </div>
    <% end %>
  </div>

  <div class="claimed_items">

  </div>
</div>
