<li class="event_item">
  <fieldset>
    <%= f.fields_for :item do |i| %>
    <%= i.text_field :name, :class => "item_name", :placeholder => "What item would you like to request?" %>
    <% end %>
    <%= f.text_field :quantity_needed, :class => "item_quantity_needed", :placeholder => "Amount" %>
    
    <%= f.text_field :description, :class => "item_description", :placeholder => "Description" %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove Item", '#', class: "remove_fields " %><br><br>

</fieldset>
 </li>

